/*
 * Name:        Bradley Bush
 * File:        style.css
 * Date:        22 February 2025
 * Description: CSS styling for cool box page.
 */

html {
  font-family: sans-serif;
}

div {
  /*
   * 22 February 2025
   * Gives a reasonable width for a large box
   */
  width: 200px;
  /*
   * 22 February 2025
   * Gives a reasonable height for a large box, centering the text
   * vertically in the process.
   */
  line-height: 160px;
  /*
   * 22 February 2025
   * Centers the box horizontally
   */
  margin: auto;
  /*
   * 22 February 2025
   * Centers the text within the box
   */
  text-align: center;
}
