/*
 * Name:        Bradley Bush
 * File:        style.css
 * Date:        22 February 2025
 * Description: CSS styling for cool box page.
 */

html {
  font-family: sans-serif;
  font-size: 16px;
}

div {
  /*
   * 22 February 2025
   * Gives a reasonable width for a large box
   */
  width: 200px;
  /*
   * 22 February 2025
   * Gives a reasonable height for a large box, centering the text
   * vertically in the process.
   */
  line-height: 160px;
  /*
   * 22 February 2025
   * Centers the box horizontally
   */
  margin: auto;
  /*
   * 22 February 2025
   * Centers the text within the box
   */
  text-align: center;
  /*
   * 22 February 2025
   * Gives a slight increase in font size, to around 17-18 pixel
   * computed style. The root elem font size is 16px. 18/16 is 1.125
   * while 17/16 is 1.0625. I met roughly in the middle with 1.1.
   */
  font-size: 1.1rem;
  /*
   * 22 February 2025
   * Gives a base colour for the design. Gives the box this colour as
   * its background colour.
   */
  background-colour: red;
  /*
   * 22 February 2025
   * Gives a contrasting colour for the text
   */
  colour: white;
  /*
   * 22 February 2025
   * Gives a black text shadow
   */
  text-shadow: 1px 1px 1px black;
}
