/*
 * Name:        Bradley Bush
 * File:        style.css
 * Date:        22 February 2025
 * Description: CSS styling for community college homepage.
 */

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
    font-family: 'lovato-light';
    src: url('Lovato-Light.eot');
    src: url('Lovato-Light.eot?#iefix') format('embedded-opentype'),
         url('Lovato-Light.woff2') format('woff2'),
         url('Lovato-Light.woff') format('woff'),
         url('Lovato-Light.ttf') format('truetype'),
         url('Lovato-Light.svg#lovatolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefinslab-bold';
    src: url('JosefinSlab-Bold.eot');
    src: url('JosefinSlab-Bold.eot?#iefix') format('embedded-opentype'),
         url('JosefinSlab-Bold.woff2') format('woff2'),
         url('JosefinSlab-Bold.woff') format('woff'),
         url('JosefinSlab-Bold.ttf') format('truetype'),
         url('JosefinSlab-Bold.svg#josefin_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: 'lovato-light', serif;
  font-size: 10px;
}

h1, h2 {
  font-family: 'josefinslab-bold', sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

nav li a {
  font-size: 2.5rem;
}

section h2 + p {
  text-indent: 20px;
}

a:link, a:visited, a:focus, a:hover {
  color: #a66;
}

a:focus, a:hover {
  text-decoration: none;
}

a {
  outline: none;
}

a:active {
  color: red;
}

a:not([href="#"]) {
  background: url(external-link-52.png) no-repeat 100%;
  padding-right: 1em;
  background-size: 1em 1em;
}
